<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Detail</title>
  <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace = "~{nav.html::navbar}"></div>

<div class="card">
<!--  <p th:text ="${item.id}">
  <p th:text ="${item.title}">
  <p th:text ="${item.price}">-->
  <img th:src= "${item.imgUrl}">
  <form action="/edit" method="post">
    <input name="id" th:value = "${item.id}" style="display:none">
    <input name="title" th:value = "${item.title}">
    <input name="price" th:value = "${item.price}">
    <input name="imgurl" type="hidden">
    <!-- input에 입력시 getURL()을 실행 -->
    <input type = "file" aria-valuetext="" onchange="getURL((this))">
<!--    <img src = "url">-->
    <button type="submit">전송</button>
  </form>
  <!-- 유저가 입력한 파일을 인코딩해서 보냄 -->
  <script>
    async function getURL(e){
      let name = encodeURIComponent(e.files[0].name)
      let result = await fetch('/presigned-url?filename=' + e.files[0].name)
      result = await result.text()

      let response = await fetch(result,{
        method : 'PUT',
        body : e.files[0]
      })

      console.log(response)

      if (response.ok) {
        // S3 업로드 성공시 실행
        let url = result.split("?")[0];
        document.querySelector('input[name="imgurl"]').value = url;
        document.querySelector('img').src = url;
        console.log(url)
      }
    }
  </script>
</div>
</body>
</html>